body {
  font-family: sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  // nav a {
  //   display: inline-block;
  //   margin: 1em;
  // }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

//Cart Page
.cart-photo {
  width: 50px;
}

.product-photos-1{
  height: 10%;
  width:10%;
  opacity: 0.4

}

.product-photos-2{
  height: 10%;
  width: 10%;
    opacity: 0.4


}

.product-images-2{
 height: 30%;
 width: 30%
}

.product-images-1 {
  height: 30%;
  width: 30%
}

.padding {
  margin: 0px 0px 0px 20px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.category {
  position: relative;
  display: inline-block;
  margin: 8px 15px 8px 15px;
}
.row{
  width: 100%;
}

.row > img{
  display: inline;
}

.buy > *{
  display: inline;
}

.admin-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
