body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  // nav a {
  //   display: inline-block;
  //   margin: 1em;
  // }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

//Cart Page
.cart-photo {
  width: 50px;
}

//Checkout Page
#checkout {

}

#order-field {

}

#info-field {

}

.product-photos-1{
  height: 10%;
  width:10%;
  opacity: 0.4

}

.product-photos-2{
  height: 10%;
  width: 10%;
    opacity: 0.4


}

.product-images-2{
 height: 30%;
 width: 30%
}

.product-images-1 {
  height: 30%;
  width: 30%
}

.padding {
  margin: 0px 0px 0px 20px;
}

.row{
  width: 100%;
}

.row > img{
  display: inline;
}

.buy > *{
  display: inline;
}
